body {
	font-family: Gudea, sans-serif;
	font-size: 4em;
	font-weight: bolder;
	color: rgba(255,255,255,1);
	background-color: gray;
}

h1 {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -62px;
	margin-left: -218px;
}